/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans Khojki", sans-serif;
}

/* HEADER */
header {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 32, 32);
    color: white;
    border-bottom: 2px solid white;
}

header img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

/* MAIN */
main {
    background-color: rgb(70, 69, 69);
    height: calc(100vh - 102px);
    display: flex;
}

/* container */
main .container {
    width: 50%;
    background-color: rgb(32, 32, 32);
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: inset 0px -1px 21px 7px #000000, 0px 0px 28px 10px #FFFFFF;
    overflow: hidden;
}

/* APP */
#app {
    overflow: hidden;
    height: 100%;
}

/* sezione bottoni e input */
#app .buttons {
    border-bottom: 3px solid rgba(255, 255, 255, 0.788);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

.buttons input {
    width: 500px;
    margin: 10px;
    padding-left: 15px;
    padding: 5px;
    border: 3px solid rgb(70, 69, 69);
    border-radius: 20px;
    background-color: rgb(32, 32, 32);
    color: white;
    font-size: medium;
}

.buttons button {
    width: 150px;
    height: 50px;
    margin-right: 20px;
    background-color: rgb(32, 32, 32);
    border-radius: 20px;
    color: rgb(104, 103, 103);
    font-size: medium;
}


/* sezione lista */
#app ul {
    height: 100%;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px 0 40px 0;
    overflow: auto;
    scrollbar-width: none;
}

#app ul li {
    margin-bottom: 5px;
    padding: 10px 0;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span{
    width: 100%;
}

li span,
.red {
    margin: 0 10px;
}

.barrato {
    text-decoration: line-through 6px red;
}


/* UTILITY */
.red {
    color: red;
    background-color: rgb(32, 32, 32);
    font-size: medium;
    padding: 0 10px;
    border-radius: 4px;
}

.lumen:hover {
    box-shadow: inset 0px -1px 21px 7px #000000, 0px 0px 28px 10px #FFFFFF;
}