<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&amp;display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7711c3f1fc.js" crossorigin="anonymous"></script>
    <title>Vue To Do List</title>
    <link rel="icon" href="./img/Logo.png">
    <!-- my css style -->
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <!-- TESTA DELLA PAGINA -->
    <header>
        <img src="./img/Logo.png" alt="logo">
        <h1>Toboolist</h1>
    </header>

    <!-- CORPO DELLA PAGINA -->
    <main>
        <div class="container">
            <div id="app">
                <!-- campo di input testo e botto per aggiunta -->
                <div class="buttons">
                    <input type="text" placeholder="Scrivi qui" v-model="newItem" @keyup.enter="add">
                    <button class="lumen" @click="add()">Aggiungi</button>
                </div>

                <!-- todo list -->
                <ul>
                    <li v-for="(item, index) in list">
                        <span :class="{barrato: item.done}" @click="reverse(index)">{{item.text}}</span>
                        <button class="red lumen" @click="remove(index)"><i class="fas fa-trash-can"></i></button>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    <!-- vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- my js -->
    <script src="./js/main.js"></script>
</body>

</html>